.variable {
    max-width: 1000px;
    width: 100%;

    .record {
        border-bottom: 1px solid var(--black-8);

        @media (prefers-color-scheme: light) {
            border-bottom: 1px solid var(--white-8);
        }
    }
}