.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
        height: 30px;
        width: 30px;
        border: 2px dashed var(--black-4);
        border-radius: 50%;
        animation: spin 1.8s linear infinite;

        @media (prefers-color-scheme: dark) {
            border: 2px dashed var(--black-1);
        }

    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}